/*css page for styling the login files*/
h1{
    font-size: 35pt;
    padding: 35px;
    color: black;
}

h2{
    font-size: 25pt;
    padding: 20px;
}

body{
    text-align: center;
    background-color: rgb(231, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 82, 82);
    font-size: 17pt;
}

div{
    margin: 15px;
}

.loginOptions{
    width: fit-content;
    margin: auto;
    padding: 20px;
}

#loginButton{
    margin: 25px;
    background-color: rgb(0, 196, 214);
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    float: left;
    text-align: center;
}

#loginButton a{
    color: whitesmoke;
    font-size: 20pt;
    text-decoration: none;
    line-height: 50px;
}

#loginButton:hover{
    background-color: rgb(3, 31, 125);
}

input[type=text], input[type=password]{
    width: 70%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 12pt;
}

button{ 
    margin: auto;
    background-color: rgb(0, 196, 214);
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    float: center;
    text-align: center;
    color: whitesmoke;
    font-size: 20pt;
}

button:hover{
    background-color: rgb(3, 31, 125);
}

#goBack{
    background-color: rgb(0, 196, 214);
    width: 100pt;
    height: 30pt;
    border: 1px solid black;
    cursor: pointer;
    float: left;
    text-align: center;
    color: whitesmoke;
    font-size: 17pt;
    line-height: 30pt;
    text-decoration: none;
}

#goBack:hover{
    background-color: rgb(3, 31, 125);
}